.boardHeader {
    text-align: center;
    font-family: initial;
    color: #8a1d40;
}

#logoutBtn {
display: none;
}
#createGameBtn{
 display: none;   
}

#allList{
  border: 1px solid black;
    border-radius: 10px;
    width: fit-content;
    background-color: beige;;
    width: 100%;
    display: none; 
}
logout-form{
    
}
/*
.mainBar{
    height: 4%;
}
*/
#listContainer{
    width: 100%;
    background-color: beige;
}

.toCenter{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.centerInside{
    display: flex;
    justify-content: center;
}
li{
    margin-top: 30px;

}
#newPlayer{
    font-weight: bold;
    font-size: 25px;
}


#listGame li{
    border-bottom: solid 1px black;
   
}
.reEnterBtn{
    margin-left: 10px;
}


thead tr th {
    background-color: #735b5b;
    text-align: center;
    color: white; 
}
tr th{
    
}

#login {
    background-color: aliceblue;
}

#inputEmail {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    font-size: 14px;
    width: 50%;
    height: 40px;

}

#inputPassword {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    font-size: 14px;
    width: 50%;
    height: 40px;

}

.clearBckgrndTable{
    border-radius: 10px;
/*    width: 50%;*/
}
.btn.btn-warning {
    border-color: #f0ad4e;
    color: #ffffff;
    font-size: 14px;
    width: 50%;
    height: 40px;
    
}

.btn.btn-info {
    border-color: #f0ad4e;
    font-size: 14px;
    width: 50%;
    height: 40px;
   
}

