* {
    margin: 2px;
    padding: 0;
}

body {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  margin: 0 auto;
  z-index: 0;
}

body::after {
  background-image: url(Battleship.jpg);
    background-size: cover;
  content: "";
  opacity: 0.2;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;   
}
.gameHeader{
    text-align: center;
    font-family: initial;
    color: #8a1d40;
    height: 5%;
}
.mainBar{
    height: 4%;
}

.container{
    width: 100%;
}
.table-success{
    background-image: url("seawater1.jpg");
}
.table-primary{
     background-color:#e9ecef;

}

#table-headers td {
    border: solid 1px #3d5267;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
     width: 9%;
    height: 9%; 
    background-color: #e9ecef;
}

.grid td {
    width: 9%;
    height: 9%;
    border: solid 1px #3d5267;
    text-align: center;
}

#table-headers td.table-light {
    background-color:#e9ecef;

}

#opponent-table-headers td {
    border: solid 1px #3d5267;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
     background-color: #e9ecef;
}

#opponent-table-headers td.table-light {
    background-color: #e9ecef;
}
.ship-placed{
    background-color: green;
    border-radius: 20px;
}

.ship-location {
    background-color: #545b62;
    border-radius: 20px;
}

.missedcell {
    background-color: #dee2e6;
    border-radius: 25px;
    text-align: center;
    color: black;
}


#port{
width: 10%;    
 height: 80%;
    text-align: center;
    
}
#placing{
   margin-left: 0px; 
}
#saveShips, #clearBoard,#saveSalvos{
    display:none;
   
}

.possibleArea{
 background-color: #fffeeb;
    opacity: 0.5;
}
#Carrier,#Battleship,#Destroyer,#Submarine,#PatrolBoat{
     width: 80px;
    height: 40px;
}
#CarrierContainer,#BattleshipContainer,#DestroyerContainer,#SubmarineContainer,#PatrolBoatContainer{
   display:none; 
}
.shipText{
    color:brown;
    font-family: cursive;
    font-size: 16px;
    
}
.preSalvo{
    background-color: #efab45;
    border-radius: 25px;
    text-align: center;
    color: white;
}
.hitcell {
    background-image: url("comicExplosion.png");
       background-size: cover;
    background-position:center;
    border-radius: 45px;
    border: solid 1px lightblue;
    text-align: center;

}
.sunkShip{
   background-color: black;
   font-size: 14px;
    color: black;
}
#messageAlert{
    color: white;
    align-self: center;
  
}
#messageContainer{
    border: 1px #6c757d solid;
}
#tablesContainer{
    width: 100%;
    height: 38%;
}
.gridContainer{
    height: 70%;
    width: 45%;    
}
#historyTable{
    height: 40%;
    
}
.table-bordered th ,.table-bordered td{
    border: 1px solid #1d2124;
    text-align: center;
}
#sunkUShipsTable, #sunkEShipsTable{
  height: 10%;
    width: 100%;   
}